
# RNA-seq Git Ignore File
# -------------------------

# Raw sequencing and mapping files
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.bam
*.bai

# Reference genomes and annotations
*.fa
*.fa.gz
*.fasta
*.fasta.gz
*.gtf
*.gtf.gz
*.gff
*.gff3

# HISAT2 indices
genome_index/
hisat2_index*/
*.ht2



# QC reports
QC_reports/
*.zip

# Log and SLURM output files
*.out
*.err
*.log
slurm-*

# Temporary files
*.tmp
*.temp
tmp/
temp/


# macOS and system junk
.DS_Store
Thumbs.db
